@import "./../components/mixin"
@font-face
    font-family: face
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')

article
    margin-top:187px
    font-family: 'Noto Sans KR', sans-serif
    .title
        font-size: 3.6rem
        color: #000000
        margin-bottom: 32px
        font-family: inherit

    .series
        font-size: 1.5rem
        color: #666666
        font-family: inherit
        margin-bottom: 96px

    .date
        font-size: 1.5rem
        color: #bbbbbb
        font-family: inherit
        margin-bottom: 105px

@include mobile
    article
        margin-top: 87px
            
