@font-face
    font-family: GraublauWeb
    src: url("../../static/HenriDidot.otf") format("opentype")

body
    margin: 0px
    width: 100vw
    
header
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    .title
        div
            margin-left: 135px
            font-family: 'Henri Didot'
    .nav
        display: flex
        flex-direction: row

main
    width: 800px
    margin: 0px auto
